<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <title>Document</title>
</head>

<body>
    <div id="container" class="container">
        <section style="background-color: #508bfc;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <h3>Bienvenido!</h3>
                                <h4 class="mb-5">Ingrese sus credenciales</h3>
                                    <form action="http://{{domain}}/api/user/login" method="post">

                                        <div class="form-outline mb-4">
                                            <input placeholder="Nombre de usuario" type="email" id="email"
                                                class="form-control form-control-lg text-center mb-2" name="email" />
                                            <input placeholder="Contraseña" type="password" id="password"
                                                class="form-control form-control-lg text-center" name="password" />
                                        </div>

                                        <button id="login" class="btn btn-primary btn-lg btn-block" type="submit"
                                            disabled>Login</button>
                                    </form>
                                    <hr class="my-4">
                                    <button id="register" class="btn btn-primary btn-lg btn-block"
                                        type="button">Registrar
                                        nueva cuenta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <script src="/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>